<!DOCTYPE html>
<html lang="en">
    <!-- Head Area -->
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Page Title -->
        <title>Evaluate a News Article with NLP</title>
        
        <!-- Google Fonts Integration -->
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

        <!-- Link to External CSS -->
        <link rel="stylesheet" href="main.css">

    </head>
    <!--/ End Head Area -->

    <!-- HTML body area-->
    <body>
        <!-- Page Main Area -->
        <main>
            <!-- Application Header -->
            <header class="holder headline">
                <h1>Evaluate News Article with NLP</h1>
            </header>
    
            <div class="container">
                <!-- section submit -->
                <form id = "form" >
                    <!-- Input Section -->
                    <input id="name" type="text" placeholder="Valid URL/Sentiment Analysis Sentence" aria-label="URL input field">
                    <!--  -->
                    <button type="submit">Validate</button>
                    <!-- section Results -->
                    <textarea id="results"></textarea>
                </form>
                
            </div>           
        </main>

        <!-- page Footer Area -->
        <footer>
            <p>© 2024 NLP Project</p>
        </footer>
        <!--/ End Footer Area -->

        <!-- Adding page script -->
        <script type="module" src="./index.js"></script>
    </body>
</html>
