// General Styles
html, body { 
    height: 100%; /* Ensure the body takes the full height of the viewport */
    font-family: 'Oswald', sans-serif;
    background-color: #3498db;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 50px auto 20px;
}

/* Feedback Messages */
.error {
    color: red;
}

.success {
    color: green;
}

// interactive response
.polarity {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #eaf7e1;
    color: #256029;
  }
  .sentence {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .sentence.strong-positive {
    border-color: #28a745;
    color: #28a745;
  }
  .sentence.positive {
    border-color: #6c757d;
    color: #6c757d;
  }
  .sentence.neutral {
    border-color: #ffc107;
    color: #ffc107;
  }
  .sentence.negative {
    border-color: #dc3545;
    color: #dc3545;
  }
  .sentence.strong-negative {
    border-color: #721c24;
    color: #721c24;
  }

/* Container Styling */
.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Typography */
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}

